html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #19B885;
  color: #fff;
  border-radius: 3px;
  font-size: 1em;
  font-weight: 600;
  text-transform: none;
  padding: 0.8em 2em;
  border: none;
  cursor: pointer;
}